img
{
    border:none;
}

body
{
    margin: 0;
    padding: 0;
}

#main
{
    position: relative;
    float:top;
    width: 1000px;
    height: 620px;
    margin: 0 auto;
    padding: 1px;
    border:1px solid #060100;
    background: url("img/page_bg.png");
    -moz-box-shadow:1px 1px 1px #000;
    box-shadow:1px 1px 1px #000;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/***** 游戏开始按钮 *****/
#game_start
{
    display: block;
    text-align:center;
    width:100px;
    line-height:20px;
    margin-top:50px;
    cursor: pointer;
    border: 2px solid #000;
    padding: 5px;

}

/***** 英雄选择界面 *****/
#choose_back
{
    position:absolute;
    margin: 0 auto;
    float:top;
    width: 1000px;
    height: 620px;
    display: none;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
}
#choose_box
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    vertical-align: middle;
}
#choose_role
{
    position:relative;
    width: 390px;
    height: 150px;
    margin: auto;
    background-color: #fff;
    padding: 5px;
    box-shadow: 3px 2px 8px 2px #000;
    border-radius: 3px;
    border-image: url(img/hero_choose.png) 0 12 0 12 stretch stretch;
}
.card_box
{
    width: 93px;
    height: 131px;
    background-color: #ccc;
    float:left;
    cursor:pointer;
    border: 2px outset #ccc;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.choose_role_card, .choose_role_card_cover
{
    position:absolute;
    float:left;
    width: 93px;
    height: 131px;
}
.choose_role_card img
{
    width: 93px;
    height: 131px;
}
.choose_role_card_cover
{
    display:none;
    background-color: #000;
    opacity:0.5;
}
.choose_hero_name
{
    display:none;
}
.choose_role_card_black
{
    background-color:#000;
    opacity:0.5;
}
/* 身份 */
#identity
{
    position:absolute;
    bottom:0;
    left:0;
    width:500px;
    height:15px;
    padding:0 10px;
    font-size:13px;
}


/***** 角色 *****/
.role
{
    position: absolute;
    width: 131px;
    height: 152px;
    float: left;
    cursor:pointer;
    background: url("img/role_bg.png") no-repeat;
    -moz-box-shadow:2px 2px 2px #000;
    box-shadow:2px 2px 2px #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/* 角色遮盖层 */
.role_back
{
    position: absolute;
    background-color: #000;
    top: 1px;
    left: 1px;
    width: 94%;
    height: 95%;
    cursor: pointer;
    opacity: 0.5;
    display: none;
}
.role > div
{
    float: left;
}
/* 国家 */
.role_country
{
    position:absolute;
    width:22px;
    height:22px;
    top:5px;
    left:5px;
}
.role_country img
{
    width:22px;
    height:22px;
}
/* 名称 */
.role_name
{
    position:absolute;
    width:131px;
    height:20px;
    text-align:center;
    font-size:13px;
    top:7px;
    color:#fff;
}
/* 身份 */
.role_identity
{
    position:absolute;
    width:25px;
    height:26px;
    right:1px;
    top:1px;
}
.role_identity img
{
    width:25px;
    height:26px;
}
.role_identity_select
{
    position:absolute;
    width:25px;
    height:100px;
    top:31px;
    right:1px;
    cursor:default;
    display:none;
}
.role_identity_select img
{
    width:25px;
    height:26px;
    margin-top:4px;
    cursor:pointer;
}
/* 角色头像 */
.head_img img
{
    position: absolute;
    width: 117px;
    height: 49px;
    left: 4px;
    top: 28px;
    margin-left: 3px;
}
/* 角色牌数 */
.card_count
{
    position: absolute;
    top: 70px;
    left: 2px;
    width: 18px;
    height: 19px;
    text-align: center;
}
.card_count img
{
    position: absolute;
    left: 0;
}
.card_count span
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
}
/* 角色血量 */
.blods_0, .blods_1
{
    position: absolute;
    left: 53px;
    top: 75px;
    width: 75px;
    height: 14px;
}
.blods_0 img, .blods_1 img
{
    margin-right: 1px;
    float: left;
    width: 13px;
    height: 14px;
}
/* 角色装备 */
.role .equip_other div
{
    height: 25%;
}
#role2
{
    left: 320px;
    top: 30px;
}
#role1
{
    left: 560px;
    top: 30px;
}
#role3
{
    left: 80px;
    top: 240px;
}
/* 角色出牌剩余时间 */
.role_progress_bar
{
    position:absolute;
    width:127px;
    height:12px;
    left:2px;
    bottom:-15px;
    display:none;
}
.role_progress_bg, .role_progress
{
    position:absolute;
    float:left;
}
.role_progress_bg
{
    width:127px;
    height:12px;
}
.role_progress
{
    width:123px;
    top:2px;
    height:8px;
    left:2px;
}

/***** 游戏输出信息 *****/
#gameinfo
{
    position: absolute;
    left: 270px;
    top: 250px;
    height: 180px;
    width: 550px;
}

/***** 发牌区 *****/
#cards_last
{
    position: absolute;
    top: 240px;
    right: 80px;
    width: 104px;
    height: 142px;
}
#cards_last img
{
    width: 104px;
    height: 142px;
}

/***** 玩家区域 *****/
#player_progress_bar
{
    position:absolute;
    width:300px;
    height:20px;
    left:350px;
    bottom:160px;
    display:none;
}
#player_progress_bg, #player_progress
{
    position:absolute;
    float:left;
}
#player_progress_bg
{
    width:300px;
}
#player_progress
{
    width:296px;
    height:13px;
    top:1px;
    left:2px;
}

/***** 玩家区域 *****/
#player
{
    position: absolute;
    width: 1000px;
    height: 146px;
    left: 0;
    bottom: 5px;
    text-align: center;
    background: url("img/player_info.bmp") no-repeat;
    border: 1px solid #000;
    -moz-box-shadow:0 8px 2px #000;
    box-shadow:0 8px 2px #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*** 装备区域 ***/
.img_box
{
    width: 182px;
    height: 255px;
}
.equip_box, .equip_back
{
    position:absolute;
    width:142px;
    height:25px;
    cursor:pointer;
}
.equip_back
{
    background-color:#000;
    opacity:0.5;
    display:none;
}
#attack, #defend, #attack_horse, #defend_horse
{
    position: absolute;
    width: 142px;
    height: 25px;
    left: 8px;
}
#attack
{
    top: 12px;
}
#attack div
{
    float: left;
    font-weight: bold;
}
    .equip_pattern
    {
        font-size: 26px;
        margin: 0 5px 0 10px;
        width: 15px;
        line-height: 22px;
    }
    .equip_num
    {
        font-size: 20px;
        width: 20px;
        line-height: 26px;
    }
    .equip_name
    {
        font-size: 16px;
        line-height: 28px;
    }

#defend
{
    top: 44px;
}
#attack_horse
{
    top: 75px;
}
#defend_horse
{
    top: 108px;
}
.equip_name
{
    width: 55%;
    height: 100%;
    overflow: hidden;
}

/** 玩家牌区* */
#cards
{
    position: absolute;
    width: 570px;
    height: 133px;
    left: 163px;
    top: 7px;
}
.player_card, .player_card img
{
    position: absolute;
    margin: 1px;
    width: 93px;
    height: 131px;
    cursor: pointer;
    display: block;
}
.player_card
{
    width: 95px;
    height: 133px;
}
.pat_num
{
    position: absolute;
    text-align: center;
    width: 20px;
    height: 40px;
    font-weight: bold;
    color: Red;
    display: block;
    margin: 6px 0 0 6px;
}
.pat_num span
{
    display: block;
    line-height: 20px;
}
.pattern
{
    width:12px;
    height:15px;
}
.pattern img
{
    width:12px;
    height:15px;
}
.num
{
    width: 14px;
    font-size:18px;
}
/* 遮盖层 */
.select_unable
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    display: none;
}

/*** 按钮 ***/
#ok_cancel_abandon
{
    position: absolute;
    right: 163px;
    width: 90px;
    height: 144px;
    top: 1px;
}
#ok_cancel_abandon img
{
    cursor: pointer;
    display: block;
}
#ok_cancel_abandon div, #ok_cancel_abandon img
{
    position: absolute;
}
#ok, #cancel, #ok img, #cancel img
{
    width: 56px;
    height: 68px;
}
/* 取消 */
#cancel
{
    left: 1px;
    bottom: 0;
}
/* 弃牌 */
#abandon
{
    width: 30px;
    height:70px;
    right: 2px;
    top:38px;
}
#abandon img
{
    width: 30px;
    height:70px;
}
/* 身份 */
#player_identity
{
    position:absolute;
    right:2px;
    top:2px;
    cursor:pointer;
}
#player_identity, #player_identity img
{
    width:25px;
    height:26px;
}

/*** 玩家信息 ***/

/* 玩家国家 */
#player_country
{
    position:absolute;
    top:2px;
    left:2px;
    width:22px;
    height:22px;
}
/* 玩家头像 */
#player_head
{
    position: absolute;
    top: 8px;
    right: 43px;
    width: 113px;
    height: 106px;
}
#player_head_img
{
    float: left;
    width: 113px;
    height: 106px;
}
/* 名称 */
#player_name_back
{
    background-color: #000;
    opacity: 0.6;
}
#player_name_back, #player_name
{
    position: absolute;
    float: left;
    width: 100%;
    height: 15px;
    color: #fff;
    font-size: 13px;
}
#player_blods
{
    position: absolute;
    width:29px;
    height:139px;
    right:6px;
    top:2px;
}
#player_blod_0, #player_blod_1
{
    width:100%;
    height:100%;
    position:absolute;
    float:left;
}
#player_blods img
{
    width:21px;
    height:21px;
    margin:3px 0 4px 0;
}

/***** 解释（技能等） *****/
#explanation
{
    position:fixed;
    width:301px;
    left:650px;
    top:100px;
    background:#000;
    display:none;
    color:#e4d5a0;
    padding:8px 12px;
    font-size:13px;
    opacity:0.8;
    -moz-box-shadow:2px 2px 2px #000;
    box-shadow:2px 2px 2px #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* 数据加载 */
#data_load
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display:none;
}
#data_load img
{
    width: 100%;
    height: 100%;
    position: absolute;
}
#data_load_perc
{
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    width: 200px;
    height: 60px;
    margin: auto;
    top: 280px;
    left: 400px;
    line-height: 60px;
    text-align: center;
    color: #f7b257;
    text-shadow: 2px 2px 2px #fff;
}
#load_imgs
{
    display: none;
}







