body
{
    margin: 0;
    padding: 0;
}
#main
{
    position: relative;
    width: 1100px;
    height: 700px;
    margin: 0 auto;
}

/* 角色 */
.role
{
    position: absolute;
    width: 137px;
    height: 180px;
    float: left;
    cursor: pointer;
    background: url("img/role_bak.png") no-repeat;
}
.role_bak
{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    display: none;
}
.role > div
{
    float: left;
}
.head_img img
{
    width: 126px;
    margin-left: 3px;
}
.role .equip_other div
{
    height: 25%;
}
#role1
{
    left: 320px;
    top: 20px;
}
#role2
{
    left: 560px;
    top: 20px;
}
#role3
{
    left: 80px;
    top: 240px;
}
#gameinfo
{
    position: absolute;
    left: 270px;
    top: 250px;
    height: 180px;
    width: 550px;
    border: 1px solid #000;
}

#cards_last /* 发牌区 */
{
    top: 240px;
    right: 80px;
    background: url("img/card_bak.png") no-repeat;
}

/* 玩家区域 */
#player
{
    position: absolute;
    width: 1000px;
    height: 146px;
    left: 50px;
    bottom: 20px;
    text-align: center;
    background: url("img/player_info.bmp") no-repeat;
}

/* 装备区域 */
#equipment
{
    width: 220px;
    height: 100%;
}
.img_box
{
    width: 182px;
    height: 255px;
}
#equipment #attack, #equipment #defend, #equipment #attack_horse, #equipment #defend_horse
{
    width: 98%;
    height: 40px;
    margin: 2px;
    overflow: hidden;
}
#equipment .pattern
{
    display: inline-block;
    width: 20px;
    font-size: 32px;
}
#equipment .num
{
    display: inline-block;
    width: 20px;
    font-size: 24px;
}
.equip_name
{
    width: 55%;
    height: 100%;
    overflow: hidden;
}

/* 玩家拥有的牌 */
#cards
{
    position: absolute;
    width: 520px;
    height: 133px;
    left: 163px;
    top:7px;
}
.player_card, .player_card img
{
    position: absolute;
    margin:1px;
    width: 93px;
    height: 131px;
    cursor: pointer;
    display: block;
}
.player_card
{
    width: 95px;
    height: 133px;
}
.pat_num
{
    position: absolute;
    text-align: center;
    width: 20px;
    height: 40px;
    font-family: @Terminal;
    font-weight: bold;
    color: Red;
    display: block;
    margin: 9px 0 0 9px;
}
.pat_num span
{
    display: block;
    line-height: 20px;
}
/* 花色 */
.pattern
{
    font-size: 28px;
}
/* 数值 */
.num
{
    font-size: 20px;
}
/* 遮盖层 */
.select_unable
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    display: none;
}

#confirm
{
    position: absolute;
    left: 35%;
    top: -50px;
    border: 1px solid #000;
}
#confirm a
{
    cursor: pointer;
    display: block;
    width: 80px;
    float: left;
    margin: 1px;
    line-height: 30px;
    background-color: #ccc;
}
#confirm a:hover
{
    background-color: #fff;
}

/* 玩家信息 */
#info
{
    position: absolute;
    top: -40px;
    right: -1px;
    width: 200px;
    height: 219px;
}
#player_head
{
    position: absolute;
    top: 8px;
    right: 43px;
    width: 113px;
    height: 106px;
}
#player_head img
{
    float: left;
    width: 113px;
    height: 106px;
}
#player_name_bak
{
    background-color: #000;
    opacity: 0.4;
}
#player_name_bak, #player_name
{
    position: absolute;
    float: left;
    width: 100%;
    height: 15px;
    color: #fff;
    font-size:13px;
}

/* 选择角色界面的遮盖背景 */
#choose_bak
{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #000;
}
#choose_box
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #000;
    display: none;
    vertical-align: middle;
}
#choose_role
{
    width: 900px;
    height: 400px;
    margin: auto;
    background-color: #fff;
    padding: 5px;
}
.choose_role_card
{
    width: 200px;
    height: 340px;
    display: inline-block;
    border: 2px outset #ccc;
    background-color: #ccc;
    margin: 6px;
}
.choose_role_name
{
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    font-family: @Dotum;
}



#test a
{
    display: block;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
}
